# SPDX-FileCopyrightText: Copyright (c) 2026 Karl Miller
# SPDX-License-Identifier: Apache-2.0
.git
**/target
**/node_modules
**/dist
**/out
services/build
desktop
docs
assets
.github
*.md
!services/**/README.md
.scratch
